html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

header {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}